llama-index
langchain
langchain-google-genai
langchain-community
google-genai
llama-index-embeddings-huggingface
llama-index-llms-langchain
python-dotenv
wikipedia
langchain-experimental
numexpr
streamlit
watchdog

# Dev Dependencies
pytest
black
isort
flake8
mypy